<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mon p3tit p0tIn !!!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Potin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<h1>Bienvenu sur <strong>Mon petit potin</strong> !</h1>
<ul>
    <h3>Voici la liste des potins :</h3>
    <% Potin.all.each do |potin| %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">potin n°<%= potin.id %></h5>
                <p class="card-text"> <%= potin.content %> </p>
                <a href="#" class="btn btn-primary"><%= "#{potin.author.first_name} #{potin.author.last_name}"%></a>
            </div>
        </div>
        <% end %>
</ul>

